@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

button {
    transition-duration: 0.4s;
}

input[type=text]:focus, [type=password]:focus {
    outline: none;
    @apply border-2 border-[#284B63];
}

.mylabels {
    @apply text-left ml-[60px] text-black;
}




