################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/Wealth-Management-System/FileContentIndex
/.vs
/.vs/Wealth-Management-System/.project
/.vs/Wealth-Management-System/launch.json