.profile-container {
    padding: 30px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-title {
    border-radius: 20px 20px 0 0;
    background-color: #a7d6ac;
    padding: 10px 30px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
}

.profile-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.account-container button {
    margin: 20px auto;
    background: #a7d6ac;
}

.account-container button:hover {
    cursor: pointer;
    background: #89bd8f;
}

.profile-component {
    margin: 20px 0;
}

.profile-component h2 {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}

.account-container button {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.display {
    display: none;
}

.edit-profile-form {
    background: white;
    border: 3px solid #a7d6ac;
    border-radius: 5px;
    max-height: 600px;
    min-width: 600px;
    max-width: 800px;
    top: 100px;
    position: absolute;
    font-size: 20px;
}

.edit-profile-form div {
    padding: 10px;
    margin: 0 auto;
}

.edit-profile-form h2{
    text-align: center;
    margin: 10px auto;
}

.edit-profile-form button {
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
    background-color: #a7d6ac;
}

.admin-features {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}