:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: black;
  /* background-color: #242424; */
  background-image: url(background.jpg);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  height: 0;
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}
a:hover {
}

h1 {
  font-size: 3.2em;
}

/* color scheme from dark to light: #153243 #284B63 #6F8FA0 #B5D2DD #E2EEF3 */